@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

.container_watch_Movie {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #333333;
  .watch_movie {
    width: 80%;
    transform: translateY(80px);
    margin-left: 10%;

    .watch_movie_name {
      width: 100%;
      height: 40px;
      color: #ff9601;
      border-bottom: 2px solid #ff9601;
      align-items: center;
      display: flex;
      font-weight: 600;

      i {
        transform: translateY(2px);
        font-size: 18px;
      }
    }

    .watch_movie_video {
      margin-top: 20px;
      width: 90%;
      margin-left: 5%;
      height: 615px;

      video {
        width: 100%;
      }
    }

    .watch_movie_evaluate {
      margin-top: 20px;
      width: 100%;
      height: 50px;
      border-top: 2px solid #ff9601;
      border-bottom: 2px solid #ff9601;
      justify-content: space-between;
      display: flex;

      .watch_movie_evaluate_1 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        p {
          color: #ff9601;
          font-size: 20px;
          font-weight: 700;
        }

        .star {
          margin-left: 15px;
          margin-top: 3px;
        }
      }

      .watch_movie_evaluate_2 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .watch_movie_evaluate_2_1 {
          display: flex;
          cursor: pointer;

          p {
            font-size: 20px;
            color: #ff9601;
            font-weight: 600;
          }

          span {
            background-color: #ff9601;
            color: #fff;
            padding: 2px 8px;
            border-radius: 5px;
            font-size: 13px;
            display: grid;
            place-items: center;
            margin-left: 10px;
          }
        }

        .watch_movie_evaluate_2_2 {
          cursor: pointer;
          width: 100px;
          height: 50%;
          align-items: center;
          background-color: #ff9601;
          outline: none;
          border: none;
          border-radius: 5px;
          color: #fff;

          &:hover {
            color: #3498db;
          }

          i {
            transform: translateY(2px);
            font-size: 19px;
            margin-left: 7px;
          }

          span {
            font-weight: 600;
          }
        }
      }
    }

    .watch_movie_itro {
      margin: 20px 0;
      width: 100%;
      height: 230px;
      display: flex;
      border-bottom: 2px solid #ff9601;

      .watch_movie_itro_image {
        width: 150px;
        height: 210px;
        margin-left: 60px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .watch_movie_itro_text {
        width: 75%;
        height: 210px;
        margin-left: 30px;
        background-color: #222222;

        .watch_movie_itro_text_1 {
          width: 100%;
          height: 50px;

          p {
            transform: translate(12px, 15px);

            font-size: 20px;
            color: #ff9601;
            font-weight: bold;
          }
        }

        .watch_movie_itro_text_2 {
          margin-top: 10px;
          width: 100%;
          height: 150px;
          overflow-y: scroll;
          background-color: #bbbbbb;

          p {
              padding: 0 15px;
            line-height: 26px;
            text-align: justify;
          }
        }
      }
    }

    .watch_movie_cmt {
      width: 100%;

      p {
        font-weight: bold;
        color: #ff9601;
        font-size: 22px;
      }

      .watch_movie_cmt_1 {
        margin-top: 20px;
        width: 100%;
        background-color: #3498db;
      }
    }

    
    .watch_movie_type {
      width: 100%;
      margin-top: 20px;
      border-top: 2px solid #ff9601;
      p {
        font-weight: 600;
        color: #ff9601;
        margin: 10px 0;
        font-size: 22px;
      }
      .watch_movie_type_card {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 90px;
        display: flex;
      }
    }

    
  }
}

//Design by Son Tung Developer